extends ../layouts/admin.pug

block title
    title Crear noticia

block headstyles
    // Bootstrap CSS
    link(rel='stylesheet', href='/public/assets/vendor/bootstrap/css/bootstrap.min.css')
    link(href='/public/assets/vendor/fonts/circular-std/style.css', rel='stylesheet')
    link(rel='stylesheet', href='/public/assets/libs/css/style.css')
    link(rel='stylesheet', href='/public/assets/vendor/fonts/fontawesome/css/fontawesome-all.css')

block content

    .container-fluid.dashboard-content
        // ==============================================================
        // pageheader
        // ==============================================================
        .row
            .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
                .page-header
                    h2.pageheader-title Crear noticia
                    .page-breadcrumb
                        nav(aria-label='breadcrumb')
                            ol.breadcrumb
                                li.breadcrumb-item
                                    a.breadcrumb-link(href='#') Noticias
                                li.breadcrumb-item.active(aria-current='page') Crear noticia
        // ==============================================================
        // end pageheader
        // ==============================================================
        .row
            // ==============================================================
            // validation form
            // ==============================================================
            .col-xl-2.col-lg-2.col-md-2.col-sm-2.col-2
            .col-xl-8.col-lg-8.col-md-8.col-sm-8.col-8
                .card
                    h5.card-header Crear noticia
                    .card-body
                        form#basicform(method='post' enctype="multipart/form-data" )

                            if messages.type === 1
                                
                                .alert.alert-danger.alert-dismissible.fade.show(role="alert") 
                                    | #{messages.message} 
                                    button.close(type="button" data-dismiss="alert" aria-label="Close")
                                        span(aria-hidden="true") ×

                                .form-group
                                        label(for="forType") Departamento
                                        select#forType.form-control(name="department_name")
                                            each d in departments
                                                if messages.department_name == d.name
                                                    option(selected) #{d.name}
                                                else
                                                    option() #{d.name} 
                                .form-group
                                    label(for='inputTitle') Titulo
                                    input#inputTitle.form-control(type='text', name='title', required='', value=messages.title, autocomplete='off')
                                .form-group
                                    label(for='inputBody') Cuerpo de la noticia (Maximo 280 caracteres)
                                    textarea#inputBody.form-control(name="body" rows="4" required='' maxlength="280" autocomplete='off') #{messages.body}
                                    b
                                        span 
                                            | Caracteres: 
                                            span#spancolor(style="color:green;") 280
                                .form-group
                                    .custom-file
                                        input#inputImage.custom-file-input(type='file' name="image" required)
                                        label.custom-file-label(for='inputImage') Elegir imagen
                                .form-group
                                    label(for='inputUrl') Url de la fuente
                                    input#inputUrl.form-control(type='text', name='url', required='', value=messages.url, autocomplete='off')
                                .form-group
                                    label(for='inputstartdate') Fecha de inicio
                                    input#inputstartdate.form-control(type='date', name="start_date", required='')
                                .form-group
                                    label(for='inputfinishdate') Fecha de cierre
                                    input#inputfinishdate.form-control(type='date', name="finish_date" , required='')
                                
                            else

                                if messages.type === 2
                                    .alert.alert-success.alert-dismissible.fade.show(role="alert") 
                                        | #{messages.message} 
                                        button.close(type="button" data-dismiss="alert" aria-label="Close")
                                            span(aria-hidden="true") ×

                                .form-group
                                        label(for="forType") Departamento
                                        select#forType.form-control(name="department_name")
                                            each d in departments
                                                option() #{d.name} 
                                .form-group
                                    label(for='inputTitle') Titulo
                                    input#inputTitle.form-control(type='text', name='title', required='', placeholder='Titulo' , autocomplete='off')
                                .form-group
                                    label(for='inputBody') Cuerpo de la noticia (Maximo 280 caracteres)
                                    textarea#inputBody.form-control(name="body" rows="4" required='' maxlength="280" autocomplete='off')
                                    b
                                        span 
                                            | Caracteres: 
                                            span#spancolor(style="color:green;") 280
                                .form-group
                                    .custom-file
                                        input#inputImage.custom-file-input(type='file' name="image" required)
                                        label.custom-file-label(for='inputImage') Elegir imagen
                                .form-group
                                    label(for='inputUrl') Url de la fuente
                                    input#inputUrl.form-control(type='text', name='url', required='', placeholder='Url de la fuente', autocomplete='off')
                                .form-group
                                    label(for='inputstartdate') Fecha de inicio
                                    input#inputstartdate.form-control(type='date', name="start_date", required='')
                                .form-group
                                    label(for='inputfinishdate') Fecha de cierre
                                    input#inputfinishdate.form-control(type='date', name="finish_date" , required='')

                            .row
                                .col-sm-12.pl-0
                                    p.text-right
                                        button.btn.btn-space.btn-primary(type='submit') Crear
            
            .col-xl-2.col-lg-2.col-md-2.col-sm-2.col-2
            // ==============================================================
            // end valifation types
            // ==============================================================
            
block bodystyles
    // Optional JavaScript
    script(src='/public/assets/vendor/jquery/jquery-3.3.1.min.js')
    script(src='/public/assets/vendor/bootstrap/js/bootstrap.bundle.js')
    script(src='/public/assets/vendor/slimscroll/jquery.slimscroll.js')
    script(src='/public/assets/vendor/parsley/parsley.js')
    script(src='/public/assets/libs/js/main-js.js')
    script(src="/public/dates/fecha.js")
    script.
        $(function(){ 
            $('#inputBody').on("input", function(){
                var maxlength = $(this).attr("maxlength");
                var currentLength = $(this).val().length;

                $('#spancolor').text(maxlength - currentLength)

                if( (maxlength-currentLength)/maxlength >= 0.40){
                    $('#spancolor').css("color", "green")
                }else if( (maxlength-currentLength)/maxlength >= 0.15 ){
                    $('#spancolor').css("color", "yellow")
                }else { 
                    $('#spancolor').css("color", "red")
                }
            });
        });
    