doctype html
html(lang='en')
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='apple-touch-icon', sizes='76x76', href='/public/assets/img/apple-icon.png')
        link(rel='icon', type='image/png', sizes='96x96', href='/public/assets/img/favicon.png')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
        meta(http-equiv="refresh" content="600" )

        title Noticias
        link(rel='stylesheet', href='/public/documentation/css/header.css')
        link(rel='stylesheet', href='/public/assets/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/public/assets/vendor/fonts/circular-std/style.css')
        // Custom styles for this template
        link(rel='stylesheet', href='/public/assets/libs/css/full-slider.css')

    body
        #carouselExampleIndicators.carousel.slide(data-ride='carousel' data-interval="10000")
            .hdr
                .row
                    .col-md-2.col-sm-2.col-xs-2
                        img.logo-unison(src='/public/assets/images/logoUnison.png')
                    .col-md-8.col-sm-8.col-xs-8
                        #tit
                            h6(style="font-size:1.8vw;") 30 Semana Nacional de Investigación y Docencia en Matemáticas
                            h6(style="font-size:1.3vw;") del 2 al 6 de marzo de 2020
                    .col-md-2.col-sm-2.col-xs-2
                        img.logo-lcc(src='/public/assets/images/maestria.jpg')
            ol#newslist1.carousel-indicators
                each n, i in departments_news    
                    if i == 0
                        li.active(data-target='#carouselExampleIndicators', data-slide-to=i)
                    else
                        li(data-target='#carouselExampleIndicators', data-slide-to=i)        
            #newslist2.carousel-inner(role='listbox')
                each n, i in departments_news    
                    if i == 0
                        .carousel-item.active(style="background-image: url('" + n.image.imageURL + "')")
                            .carousel-caption.d-none.d-md-block
                                .fondo
                                    h3 #{n.title}
                                    p(style="font-size:1.3vw;") #{n.body}
                    else
                        .carousel-item(style="background-image: url('" + n.image.imageURL + "')")
                            .carousel-caption.d-none.d-md-block
                                .fondo
                                    h3 #{n.title} 
                                    p(style="font-size:1.3vw;") #{n.body}
            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Anterior
            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Siguiente

                
        // Optional JavaScript
        script(src='/public/assets/vendor/jquery/jquery-3.3.1.min.js')
        script(src='/public/assets/vendor/bootstrap/js/bootstrap.bundle.js')
        script(src='/public/assets/vendor/slimscroll/jquery.slimscroll.js')
        script(src='/public/assets/vendor/parsley/parsley.js')
        script(src='/public/assets/libs/js/main-js.js')
        //script(src="/public/assets/show/update_slider.js")
            